version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: edumeal
      POSTGRES_PASSWORD: edumeal123
      POSTGRES_DB: edumeal
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  pgdata:
